{
        email hostmaster@introserv.com
}

https://*.introserv.cloud {
        tls {
                on_demand
        }

        encode gzip

        reverse_proxy 127.0.0.1:5678 {
                header_up Host {upstream_hostport}
                flush_interval -1
        }
}

https://$HOST_IP {
        tls /var/lib/caddy/n8n.crt /var/lib/caddy/n8n.pem
        encode gzip
        reverse_proxy 127.0.0.1:5678 {
                header_up Host {upstream_hostport}
                flush_interval -1
        }
}
